/* kart.css */

.kartlar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.urun-karti {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.urun-karti:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.urun-karti img {
  max-width: 100%;
  height: auto;
}

.urun-karti .icerik {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.urun-karti h2 {
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.urun-karti .fiyat {
  font-size: 1rem;
  font-weight: bold;
  color: #00a300;
  margin-bottom: 0.25rem;
}

.urun-karti button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 999px;
  cursor: pointer;
  margin-top: auto;
  transition: background-color 0.2s ease-in-out;
}

.urun-karti button:hover {
  background-color: #0056b3;
}

.urun-karti.kucuk-icerik button {
  margin-top: 0;
  margin-bottom: 10px;
}
