/* Genel form çerçevesi */
.form-step {
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Başlık metni */
  .yazi {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Giriş alanları ve seçim kutuları */
  .form-input,
  .form-select,
  .form-textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Butonlar */
  .form-button {
    color: #ffffff;
    background-color: #fdcb6e;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Hover efektleri için geçişler */
  }
  
  .form-button:hover {
    color: #b2bec3;
    background-color: #e17055;
    box-shadow: 1px 3px 1px 2px;
  }
  
  .form-button + .form-button {
    margin-left: 10px; /* İki buton arasına 10 piksel boşluk verir. İhtiyaca göre ayarlayabilirsiniz. */
  }


/* Varsayılan stil */
.form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    transition: all 0.3s ease; /* Tüm özelliklerde geçiş efekti */
  }
  
  /* Odaklandığında boyutu büyütelim */
  .form-input:focus {
    border-color: #007bff;
    transform: scale(1.05); /* Boyutu büyütme */
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5); /* Gölge ekleyelim */
    outline: none;
  }
  
  
  

  